@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: "Noto Sans", sans-serif;
}
.navbar{
    font-weight: 500;
}
#nav-link1:hover{
    color: rgb(209, 209, 68);
}
.cards{
    box-shadow: rgba(0, 0, 0, 0.07) 0px 0px 0px 1px;
    padding: 15px;
    min-height: 250px;
    
}
.container-box{
    padding-left: 20px;
    padding-right: 20px;
}
.book-info {
    margin-top: 15px;
    padding: 30px;
}
.book-about{
    margin-top: 15px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}
.cursor-pointer{
    cursor: pointer;
    color: aliceblue;
}
.cursor-pointer{
   text-decoration: none;
}
.cursor-pointer:hover{
    color: yellow;
}
.hr{
    width: 90%;
}
.hr-div{
    display: grid;
    place-items: center;
}
.orders{
    height: 100vh;
}
.sales{
    height: 100vh;
}
.home{
    height: 100%;
}
.booklist-container{
    height: 100vh;
}
.search{
    display: flex;
    justify-content: center;
    align-items: center;
}